form {
    border: 1px solid #000000;
    width: 600px;
    height: 500px;
}

input[name="title"]{
    width:95%;
}

input[name="detail"]{
    width: 95%;
    height: 200px;
}

input[name="str_date"], input[name="end_date"{
    width:45%;
}