/* todo button */
#div_todo{
    width:10%;
    float:right;
    height: 100px;
}
/* button class */
.button_base {
    margin: 0;
    border: 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

#todo_font{
    font-size: 18px;
}

#views_font{
    font-size: 30px;
}

/* hover 기능 */
.white_btn_rollover {
    color: #000000;
    border: #000000 solid 1px;
    padding: 10px;
    background-color: #ffffff;
}

.white_btn_rollover:hover {
    color: #ffffff;
    background-color: #000000;
}

.black_btn_rollover {
    color: #ffffff;
    border: #ffffff solid 1px;
    padding: 10px;
    background-color: #000000;
}

.black_btn_rollover:hover {
    color: #000000;
    background-color: #ffffff;
}

  /* bottom */
#div_bottom{
    width: 100%;
    height: 100px;
    clear: both;
    background-color:#222;
    text-align:center;
    color:#BBB;
}