
ul {
    margin: 0;
    padding: 0;
}

/* 달력 제목 */
.c_header{
    text-align:center;
}

/* content time div*/
#div_content{
    width:75%;
    height:600px;
    float:left;
}

/*달력 전체*/
.this_cld{
    background-color:#BBBBBB;
    font-size: 13px;
}

/* 달력 테이블 크기 조정 */
#table_size_calender{
    width:100%
}

/* 요일 칸*/
.this_cld table thead tr th{
    border: 1px solid #eaedef;
}
/*날짜 칸*/
.this_cld table tbody td{
    height: 81px;
    min-height: 81px;
    padding-left: 6px;
    border: 1px solid #eaedef;
    vertical-align: top;
}

/* 주말, 공휴일, 지난/다음 달 색 처리 */
.sun_day, .h_day{
    color:#f44e4e;
}
.sat_day{
    color:#0000FF;
}
.m_next, .m_pre {
    color: #A4A4A4;
}

/* 일정 */
.this_cld table tbody ul li{
    margin: 0;
    height: 12px;
    list-style-type: none;
}

