<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week</title>
    <link rel="stylesheet" href="{% static 'css/day.css' %}">
    <link rel="stylesheet" href="{% static 'css/week.css' %}">
</head>
<body>
    <div id = "div_top">
    <h1>WEEK</h1>
</div>

<!--    <div id = "div_view_menu">-->
<!--        <table id="table_view_menu">-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <a href="day.html">Day</a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <a href="week.html">Week</a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <a href="month.html">Month</a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <a href="year.html">Year</a>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->

    <div id="div_content">
        <div class="tt_head">
            <button> < </button>
            <span> 2020년 5월 1주차</span>
            <button> > </button>
        </div>
        <div class="time_table_week">
            <table>
                <thead>
                    <tr>
                        <th class="dsc">시간</th>
                        <th>
                            <span>일</span>
                            <span>(17)</span>
                        </th>
                        <th>
                            <span>월</span>
                            <span>(18)</span>
                        </th>
                        <th>
                            <span>화</span>
                            <span>(19)</span>
                        </th>
                        <th>
                            <span>수</span>
                            <span>(20)</span>
                        </th>
                        <th>
                            <span>목</span>
                            <span>(21)</span>
                        </th>
                        <th>
                            <span>금</span>
                            <span>(22)</span>
                        </th>
                        <th>
                            <span>토</span>
                            <span>(23)</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="time_idx">08</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">09</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">10</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">11</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">12</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">13</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">14</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">15</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">16</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">17</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                    <tr>
                        <td class="time_idx">18</td>
                        <td class="sun_day"></td>
                        <td class="mon_day"></td>
                        <td class="tues_day"></td>
                        <td class="wed_day"></td>
                        <td class="thus_day"></td>
                        <td class="fri_day"></td>
                        <td class="sat_day"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id = "div_todo">
        <div class="button_base b01_simple_rollover">Todo</div>
    </div>

    <div id = "div_bottom">
</div>
</body>
</html>