{% extends './base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/week.css' %}">
{% endblock %}

{% block title %}      
    <h1>Week</h1>
{% endblock %}

{% block content %}
    <div id="div_content">
        <div class="tt_head">
            <button> < </button>
            <span></span>
            <button> > </button>
            <span> Today: {{today}}</span>
        </div>
        <div class="time_table_week">
            <table>
                <thead>
                    <tr>
                        <th class="dsc">시간</th>
                        {% for day in days %}
                        <th>
                            <span>{{day}}</span>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                <script>
                        /* <$$$> 많이 수정해야함 */
                        var num = 5;
                        for(var i=0;i<num;i++){
                            var row = "<tr><td>" + String(i) + "시</td>\
                                        <td class='sun_day'></td>\
                                        <td class='mon_day'></td>\
                                        <td class='tues_day'></td>\
                                        <td class='wed_day'></td>\
                                        <td class='thus_day'></td>\
                                        <td class='fri_day'></td>\
                                        <td class='sat_day'></td></tr>";
                            document.write(row);
                        }
                    </script>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
