<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- emmet -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block css %}
        {% endblock %}
    </head>
    <body>

        <div id="div_acc">

        </div>

        <div id = "div_top">
            {% block title %}      
            {% endblock %}
        </div>
          
        <div id = "div_view_menu">
            <table id="table_view_menu" id = "views_font">
                <tr>
                    <td>
                        <a href="{% url 'planner:day' %}"><div class="button_base black_btn_rollover">Day</div></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'planner:week' %}"><div class="button_base black_btn_rollover">Week</div></a>    
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'planner:month' %}"><div class="button_base black_btn_rollover">Month</div></a>                
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'planner:year' %}"><div class="button_base black_btn_rollover">Year</div></a>
                    </td>   
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'planner:enroll' %}"><div class="button_base black_btn_rollover">Enroll</div></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'register:logout' %}"><div class="button_base black_btn_rollover">Logout</div></a>
                    </td>
                </tr>
            </table>  
        </div>
        {% block content %}      
        {% endblock %}

        <div id = "div_todo" id = "todo_font">
            <a href="{% url 'planner:todo' %}"><div class="button_base black_btn_rollover">Todo</div></a>
        </div>
          
        <div id = "div_bottom">
            
        </div>
            
    </body>
    
</html>
