{% extends './base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/day.css' %}">
{% endblock %}

{% block title %}      
    <h1>Day</h1>
{% endblock %}

{% block content %}
        <div id = "div_content">
            <table id = "table_timetable_day" class = "table_time_content">
            <script>
                var num = 24;
                var t_str = "";
                for(var i=0;i<num;i++){
                    t_str = String(i);
                                if (i<10){t_str = "0" + t_str;}
                                document.write("<tr class=" + t_str + "t><td>" + t_str + "</td><td>content</td></tr>");
                }
                {% for event in events %}
                    //document.write("{{ event.title }}: {{ event.str_time }} ~ {{ event.end_time }}");
                    var ct = document.getElementsByClassName("{{event.str_time}}t");
                    cn = ct[0];

                    while(1){
                        cn.childNodes[1].innerHTML = "{{event.title}}";
                        cn = cn.nextSibling;
                        if(cn.className == "{{event.end_time}}t"){break;}
                    }
                {% endfor %}
            </script>
            </table>
        </div>
{% endblock %}