{% extends './base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/week.css' %}">
{% endblock %}

{% block title %}      
    <h1>Week</h1>
{% endblock %}

{% block content %}
    <div id="div_content">
        <div class="tt_head">
            <button> < </button>
            <span></span>
            <button> > </button>
            <span> Today: {{today}}</span>
        </div>
        <div class="time_table_week">
            <table>
                <thead>
                    <tr>
                        <th class="dsc">시간</th>
                        {% for day in days %}
                        <th>
                            <span>{{day}}</span>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                <script>
                        /* <$$$> 많이 수정해야함 */
                        var num = 24;
                        var shell = "-----";
                        var t_str = "";
                        for(var i=0;i<num;i++){
                            t_str = String(i);
                            if (i<10){
                                t_str = "0" + t_str;
                            }
                            document.write("<tr class=\"" + t_str +"t\"><td>" + String(i) + "시</td>");
                            for (var j=0;j<7;j++){
                                document.write("<td class=" + String(j) + "week>" + shell +"</td>");
                            }
                            document.write("</tr>");
                        }

                        //document.write("<tr><td>schedule</td>");
                        {% for event in events %}
                            //document.write("<td>{{event.title}}</td>");
                            //document.write("<td>{{event.date}}일 {{event.time}}시 {{event.weekday}}요일</td>");
                            var ct = document.getElementsByClassName("{{event.time}}t");
                            ct[0].childNodes[{{event.weekday}}+1].innerHTML += "<br/>{{event.title}}";
                        {% endfor %}
                        //document.write("</tr>");


                        //alert(ct[0].firstChild.firstChild.nodeValue);


                    </script>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
